body {
    background-image: url(efe-kurnaz-RnCPiXixooY-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;

}

.form-wrap{
    width: 300px;
    border-style: solid;
    padding: 20px;
    border-color: rgb(235, 235, 235);
    border-width: 1px;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}